<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<context-param>
		<param-name>NFL_background_image</param-name>
		<param-value>/WEB-INF/resources/NFL1920x1080Transparent.png</param-value>
	</context-param>
	<servlet>
		<servlet-name>FeedProcessorServlet</servlet-name>
		<servlet-class>com.pla.textfeed2images.FeedProcessorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.pla.textfeed2images.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NFLCurrentScoresImageServlet</servlet-name>
		<servlet-class>com.pla.textfeed2images.NFLCurrentScoresImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NFLCurrentStandingsImageServlet</servlet-name>
		<servlet-class>com.pla.textfeed2images.NFLCurrentStandingsImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>com.pla.textfeed2images.StartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedProcessorServlet</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NFLCurrentScoresImageServlet</servlet-name>
		<url-pattern>/NFLCurrentScoresImageServlet.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NFLCurrentStandingsImageServlet</servlet-name>
		<url-pattern>/NFLCurrentStandingsImageServlet.png</url-pattern>
	</servlet-mapping>
</web-app>